@media screen and (max-width: 1200px) {
  // Clear Animations
  button {
    &:hover {
      transform: translateY(0) !important;
    }
  }
}

@media screen and (max-width: 880px) {
  // Lap
  .new-lap {
    margin-top: 30px;
  }

  // Time Block
  .container__time {
    width: 700px !important;
    margin: 40px auto 0 auto;

    .time__container {
      width: 190px !important;
      height: 190px !important;
      font-size: 120px !important;
    }

    .time__colon {
      font-size: 130px !important;
    }
  }
}

@media screen and (max-width: 745px) {
  // Controls
  .container__controls {
    height: 250px !important;

    .controls__item {
      font-size: 30px !important;
    }
  }

  // Time Block
  .container__time {
    width: 600px !important;
    margin: 40px auto 0 auto;

    .time__container {
      width: 160px !important;
      height: 160px !important;
      font-size: 100px !important;
    }

    .time__colon {
      font-size: 100px !important;
    }
  }
}

@media screen and (max-width: 615px) {
  // Lap
  .new_lap {
    font-size: 30px;
  }

  // Controls
  .container__controls {
    height: 200px !important;

    .controls__item {
      font-size: 25px !important;
    }
  }

  // Time Block
  .container__time {
    width: 500px !important;

    .time__container {
      width: 130px !important;
      height: 130px !important;
      font-size: 80px !important;
    }

    .time__colon {
      font-size: 80px !important;
    }
  }
}

@media screen and (max-width: 535px) {
  // Lap
  .new_lap {
    font-size: 20px;
  }

  // Controls
  .container__controls {
    height: 150px !important;

    .controls__item {
      font-size: 20px !important;
      margin-right: 20px !important;

      &:last-child {
        margin-right: 0 !important;
      }
    }
  }

  // Time Block
  .container__time {
    width: 400px !important;

    .time__container {
      width: 100px !important;
      height: 100px !important;
      font-size: 60px !important;
    }

    .time__colon {
      font-size: 60px !important;
    }
  }
}

@media screen and (max-width: 420px) {
  // Lap
  .new_lap {
    font-size: 15px;
  }

  // Controls
  .container__controls {
    height: 120px !important;

    .controls__item {
      margin-right: 15px !important;
    }
  }

  // Time Block
  .container__time {
    width: 350px !important;
    margin: 30px auto 0;

    .time__container {
      width: 90px !important;
      height: 90px !important;
      font-size: 50px !important;
    }

    .time__colon {
      font-size: 50px !important;
    }
  }
}

@media screen and (max-width: 360px) {
  // Controls
  .container__controls {
    height: 100px !important;

    .controls__item {
      font-size: 17px !important;
    }
  }

  // Time Block
  .container__time {
    width: 300px !important;
    margin: 20px auto 0;

    .time__container {
      width: 80px !important;
      height: 80px !important;
      font-size: 40px !important;
    }

    .time__colon {
      font-size: 40px !important;
    }
  }
}