// Main Styles
.new_lap {
  width: 0;
  margin: 70px auto auto auto;
  padding: 5px 15px;
  border: 3px solid white;
  transition: 0.3s;
  overflow: hidden;

  font-size: 40px;
  color: white;
}

.load_animation {
  margin-top: 240px !important;
  opacity: 1 !important;
}

.flex_property_set {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1920px;
  margin: auto;
}

#wrapper {
  width: 100%;
  min-height: 100vh;
  background: black;
  opacity: 0.9;
  font-family: 'Roboto';
}

.container {
  width: 850px;
  height: fit-content;

  .controls {
    display: flex;
    justify-content: center;
    height: 300px;

    .controls__item {
      width: fit-content;
      height: fit-content;
      display: block;
      background: transparent;
      border: none;
      cursor: pointer;
      opacity: 0;
      margin-right: 30px;
      transition: transform 0.3s, opacity 1s, margin 1s;

      font-size: 40px;
      color: white;

      &:hover {
        transform: translateY(-20px);
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.time {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;

  color: white;

  .time__container {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: 3px solid white;

    font-size: 150px;
  }

  .time__colon {
    margin: 20px;
    font-size: 150px;
  }
}

// Responsive Layout
@media screen and (max-width: 1200px) {
  button {
    &:hover {
      transform: translateY(0) !important;
    }
  }
}

@media screen and (max-width: 880px) {
  .new_lap {
    margin-top: 30px;
  }

  .time {
    width: 700px !important;
    margin: 40px auto 0 auto;

    .time__container {
      width: 190px !important;
      height: 190px !important;
      font-size: 120px !important;
    }

    .time__colon {
      margin: 0 !important;
      font-size: 130px !important;
    }
  }
}

@media screen and (max-width: 720px) {
  button {
    font-size: 30px !important;
  }

  .time {
    width: 600px !important;
    margin: 20px auto 0 auto;

    .time__container {
      width: 160px !important;
      height: 160px !important;
      font-size: 100px !important;
    }

    .time__colon {
      font-size: 100px !important;
    }
  }
}

@media screen and (max-width: 615px) {
  .new_lap {
    font-size: 30px;
  }

  button {
    font-size: 25px !important;
  }

  .time {
    width: 500px !important;
    margin: 20px auto 0 auto;

    .time__container {
      width: 130px !important;
      height: 130px !important;
      font-size: 80px !important;
    }

    .time__colon {
      font-size: 80px !important;
    }
  }
}

@media screen and (max-width: 515px) {
  .new_lap {
    font-size: 20px;
  }

  button {
    margin-right: 20px !important;
    font-size: 15px !important;

    &:last-child {
      margin-right: 0 !important;
    }
  }

  .time {
    width: 400px !important;
    margin: 0 auto;

    .time__container {
      width: 100px !important;
      height: 100px !important;
      font-size: 60px !important;
    }

    .time__colon {
      font-size: 60px !important;
    }
  }
}

@media screen and (max-width: 400px) {
  .time {
    width: 300px !important;

    .time__container {
      width: 70px !important;
      height: 70px !important;
      font-size: 40px !important;
    }

    .time__colon {
      font-size: 40px !important;
    }
  }
}